<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

   <form method="POST" action="/team">
     <label for="name">Name:</label>
     <input id="name" type="text" name="name">

     <label for="coach">Coach:</label>
     <input id="coach" type="text" name="coach">

     <label for="pg">Pg:</label>
     <input id="pg" type="text" name="pg">

     <label for="sg">Sg:</label>
     <input id="sg" type="text" name="sg">

     <label for="sf">Sf:</label>
     <input id="sf" type="text" name="sf">

     <label for="pf">Pf:</label>
     <input id="pf" type="text" name="pf">

     <label for="c">Pf:</label>
     <input id="c" type="text" name="c">

     <button type="submit" id="Submit" value="Submit"></button>
  </form>

 </body>
</html>
